.idea/libraries/*
target/classes/*
target/maven-status/*
target/test-classes/*
.idea/workspace.xml
src/test/resources/test_mail.properties
configuration/test_local_endpoints.json
*.iml
src/main/resources/notification.properties.real
src/test/resources/gmail_password.properties
configuration/test_local_endpoints1.json
src/test/java/com/gumirov/shamil/partsib/SimpleDeleteMailTest.java
