
[Unit]
Description=MailSpider is a files fetcher and processor from Email, FTP, HTTP(S) sources.
After=network.target

[Service]
#EnvironmentFile=/etc/sysconfig/MailSpider
User=phoenix
Group=phoenix
PermissionsStartOnly=true
WorkingDirectory=/var/lib/MailSpider
ExecStart=/usr/bin/java $JAVA_OPTS -classpath /usr/share/MailSpider/MailSpider-1.0-SNAPSHOT-jar-with-dependencies.jar:/usr/share/MailSpider/MailSpider-1.0-SNAPSHOT-configs.jar com.gumirov.shamil.partsib.MainApp 2>&1 >/tmp/mailspider.log

[Install]
WantedBy=multi-user.target
